Modules
Script
*history*
*.tmp
*.sav
/modules
modules
save.*
t.*
tt.*
Microsoft.PowerShell_profileOld.ps1
Microsoft.PowerShell_profile[0-9].ps1
*.doc
*.xl*
Set-LocalConfig.ps1
*~*
*.bak
junk
*back*
/backup
/backup
*.exe
*log.txt
Microsoft.PowerShell_profileLOG.txt
