.\config\npp\config.xml
Profile*post.ps1
Profile*pre.ps1
config.xml
session.xml
Modules
Script
*history*
*.tmp
*.sav
/modules
modules
save.*
t.*
tt.*
*.pfx
Microsoft.PowerShell_profileOld.ps1
Microsoft.PowerShell_profile[0-9].ps1
*.doc
*.xl*
Set-LocalConfig.ps1
*~*
*.bak
junk
*back*
/backup
/backup
*.exe
*log.txt
Microsoft.PowerShell_profileLOG.txt
Local*.ps1
/work/bat
/work/dev
/work/Jesse
/work/Jesse/*
/work/dev/*
/work/bat/*
